<h1>All articles </h1>

<ul id="articles">
  <% @article.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article), class: 'article_title' %>
    </li>
  <% end %>

  <% if logged_in? %>
  	<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
  <% end %>

<%= link_to "Browse all tags", tags_path %>

</ul>